@import 'mapbox-gl';

page-home {
  img {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  ion-list {
    ion-item-sliding {
      ion-item {
        align-items: baseline !important;

        .time {
          color: #488aff
        }

        .distance {
          color: #488aff
        }

        .go {
          min-width: 30px;
        }
      }
      ion-item-options {
        button {
          min-width: 68px;
        }
      }
      .no-padding {
        .label {
          margin: 6px 4px 6px 0;
        }
      }
    }
  }
}
