page-map {
  .map-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #map {
      width: 100%;
      height: calc(100%);
    }
  }
}

ion-app.ios {
  page-map {
    .map-container {
      margin-top: $toolbar-ios-height;
    }
  }
}

ion-app.md {
  page-map {
    .map-container {
      margin-top: $toolbar-md-height;
    }
  }
}
